///////////////////Color/////////////////////
$white: #fff;
$darkgreen: #001304;
$green: #00380f;
$gray:#E8E8E8;
$lightgray:#F7F7F7;
$font-color: #333333;

///////////////////font/////////////////////
$main-font: "Montserrat",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
