@use "../global/index" as g;

.recruit-back {
  background-image: url(../img/bg-geometry.png);
  padding-top: 40px;

  @include g.mq(md) {
    padding-top: 120px;
  }
}

.recruit {
  &__top {
    text-align: center;

    &--main-title {
      color: g.$green;
      letter-spacing: 0.01em;
      line-height: calc(56 / 48);
      font-size: 48px;
      font-weight: bold;

      @include g.mq(md) {
        font-size: 72px;
        margin: 8px 0 32px;
      }
    }

    &--sub-title {
      color: g.$green;
      font-size: 18px;
      margin: 12px 0 20px;

      @include g.mq(md) {
        font-size: 32px;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    margin: 0 auto;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  }

  &__job {
    margin-top: 35px;

    @include g.mq(md) {
      margin-top: 60px;
    }

    &--title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: g.$green;

      @include g.mq(md) {
        font-size: 32px;
      }
    }

    &--wrapper {
      margin: 27px auto 0;
      max-width: 1110px;
      background-color: g.$white;
      border-radius: 10px;
      border: 1px solid g.$green;
      padding: 30px;

      @include g.mq(md) {
        padding: 60px;
      }
    }

    &--category {
      font-weight: bold;
      text-align: center;
      color: g.$green;

      @include g.mq(md) {
        font-size: 24px;
      }
    }
  }
  &__btn {
    margin-top: 40px;

    &--remark {
      text-align: center;
      font-size: 12px;
      margin-top: 8px;
    }
  }

  &__movie {
    max-width: 1110px;
    margin: 75px auto 0;

    @include g.mq(md) {
      margin: 110px auto 0;
    }

    &--title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: g.$green;
      margin-bottom: 27px;

      @include g.mq(md) {
        font-size: 32px;
        margin-bottom: 36px;
      }
    }

    &--video {
      width: 100%;
      aspect-ratio: 16 / 9;
    }
  }
}

.sub-page-table__contents > ul {
  padding-top: 15px;
  & > li {
    list-style-type: disc;
    margin-left: 1rem;
  }
}
